/*basic resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*moon*/
.moon {
    border-radius: 50%;
    background: url(./moon.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    animation: moon-rotation 30s linear infinite;
    box-shadow: inset 20px 0 30px rgba(0, 0, 0, .9),
                inset -40px 0 30px rgba(248, 248, 213, 0.2);
    position: absolute;
}

.moon:before, .moon:after {
    content: "";
    /*border: brown 1px solid;*/
    border-radius: 50%;
}

.moon:before {
    box-shadow: -40px -10px 10px rgba(0, 0, 0, .5),
                -40px -10px 15px rgba(0, 0, 0, .5),
                -40px -10px 20px rgba(0, 0, 0, .5),
                inset 30px 0 20px rgba(0, 0, 0, 1);
    animation: moon-shadow 30s linear infinite;
}

.moon:before, .moon:after {
    position: absolute;
}

@keyframes moon-rotation {
    0% {
       /* background-position: -500px center;*/
        top: 2%; right: 2%;
        width: 375px;
        height: 375px;
        z-index: -100;
    }
    5% {
        top: 10%; right: 10%;
        width: 250px;
        height: 250px;
    }
    25% {
        top: 60%; right: 60%;
        width: 250px;
        height: 250px;
        z-index: -100;
    }
    30% {
        top: 70%; right: 70%;
        width: 375px;
        height: 375px;
        z-index: 100;
    }
    35% {
        top: 60%; right: 60%;
        width: 500px;
        height: 500px;
    }
    45% {
        top: 10%; right: 10%;
        width: 500px;
        height: 500px;
        z-index: 100;
    }
    50% {
        top: 2%; right: 2%;
        width: 375px;
        height: 375px;
        z-index: 100;
    }
    55% {
        top: 10%; right: 10%;
        width: 250px;
        height: 250px;
        z-index: -100;
    }
    60% {
        width: 250px;
        height: 250px;
    }
    75% {
        top: 60%; right: 60%;
        width: 250px;
        height: 250px;
        z-index: -100;
    }
    80% {
        top: 70%; right: 70%;
        width: 375px;
        height: 375px;
        z-index: 100;
    }
    85% {top: 60%; right: 60%;
        width: 500px;
        height: 500px;
    }
    95% {
        top: 10%; right: 10%;
        width: 500px;
        height: 500px;
    }
    100% {
       /* background-position: 496px center;*/
        top: 2%; right: 2%;
        width: 375px;
        height: 375px;
        z-index: 100;
    }
}

@keyframes moon-shadow {
    0% {
        width: 375px;
        height: 375px;
        z-index: -99;
    }
    5% {
        width: 250px;
        height: 250px;
        
    }
    25% {
        width: 250px;
        height: 250px;
        
    }
    30% {
        width: 375px;
        height: 375px;
        z-index: 1001;
    }
    35% {
        width: 500px;
        height: 500px;
    }
    45% {
        width: 500px;
        height: 500px;
    }
    50% {
        width: 375px;
        height: 375px;
        z-index: -99;
    }
    55% {
        width: 250px;
        height: 250px;
        
    }
    75% {
        width: 250px;
        height: 250px;
        
    }
    80% {
        width: 375px;
        height: 375px;
        z-index: 1001;
    }
    85% {
        width: 500px;
        height: 500px;
    }
    95% {
        width: 500px;
        height: 500px;
    }
    100% {
        width: 375px;
        height: 375px;
        z-index: -99;
    }
}

/*earth*/
.earth {
    border-radius: 50%;
    width: 750px;
    height: 750px;
    background: url(./earth.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    animation: earth-rotation 90s linear infinite;
    transform: rotate(-23.5deg);
}

.earth::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 150px,
                                                  rgba(64, 105, 218, 0.3) 375px,
                                                  rgba(255, 255, 255, 0) 400px);
    z-index: 29;
}

.earth-cloud {
    width: 760px;
    height: 760px;
    border-radius: 50%;
    position: absolute;
    background: url(./earthCloud.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: earth-cloud-rotation 90s linear infinite;
    transform: rotate(-23.5deg);
    z-index: 31;
}

.earth-cloud-shadow {
    width: 760px;
    height: 760px;
    border-radius: 50%;
    position: absolute;
    background: url(./earthCloud.png);
    background-repeat: repeat-x;
    background-size: cover;
    filter: brightness(0) opacity(.5);
    animation: earth-cloud-shadow-rotation 90s linear infinite;
    transform: rotate(-23.5deg);
    z-index: 30;
}

.earth-cloud::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 150px,
                                                  rgba(88, 106, 156, .1) 375px,
                                                  rgba(255, 255, 255, 0) 400px);
    z-index: 51;
}

.earth-cloud::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 780px;
    height: 780px;
    box-shadow: inset 50px 50px 50px rgb(0, 0, 0),
                inset 30px 30px 30px rgb(0, 0, 0),
                inset -20px 30px 50px rgba(133, 171, 229, .1),
                inset -10px 15px 30px rgba(133, 171, 229, .1),
                inset 15px -20px 20px rgb(0, 0, 0),
                inset 20px -10px 20px rgb(0, 0, 0),
                inset -5px -5px 40px 40px rgba(113, 130, 151, 0.3),
                inset -10px 15px 25px 25px rgba(86, 164, 216, 0.2),
                5px 5px 5px rgba(134, 146, 165, 0.2),
                5px 10px 5px rgba(132, 145, 155, 0.2);
    z-index: 50;
}

@keyframes earth-rotation {
    from {background-position: right center;}
    to {background-position: 750px center;}
}

@keyframes earth-cloud-rotation {
    from {background-position: right center;}
    to {background-position: 760px center;}
}

@keyframes earth-cloud-shadow-rotation {
    0% {background-position: -765px center;}
    100% {background-position: 755px center;}
}